*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(174, 171, 171);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
table {
    border-collapse: collapse;
    width: 440px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
h2{
    font-family: sans-serif;
}